    <h1>投稿一覧ページ</h1>
      
      <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>タイトル</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>終日</th>
          <th>スケジュール更新日時</th>
          <th>確認</th>
          <th>編集</th>
          <th>削除</th>
        </tr>
      </thead>
      
      <tbody>
        <% @plan.each do |plan| %>
          <tr>
            <td><%= plan.id %></td>
            <td><%= plan.title %></td>
            <td><%= plan.start.to_s(:datetime_jp) %></td>
            <td><%= plan.end.to_s(:datetime_jp)%></td>
            <td><% if plan.dayAll == 1 %>
                <p>○</p>
                <% end %>
            </td>
            <td><%= plan.updated_at.strftime("%Y年%m月%d日%-H時%M分")%></td>
           <td><%= link_to "確認",schedule_path(plan)%></td>
           <!--(plan.id)の部分でidの値を渡している-->
           <td><%= link_to "編集",edit_schedule_path(plan) %></td>
      <td><%= link_to "削除", schedule_path(plan), method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
        <% end %>
        </tr>
      <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
      <% end %>

      </tbody>
       </table>
       <%= link_to "スケジュール新規登録","new"%>
       